<div class="banner" style="background-image:url('<%= image_path @background %>')">

  <div class="banner-content text-center">

    <h1> Amazing Url Shortener Service!  </h1>
    <h2> Just type your super-long url in here  </h2>
      <div class=" form-inline">
        <%= render 'form' %>
      </div>

      <div id=post> <p> Here is your long URL;</p>
        <%= @post.long_url %>
      </div>
      <div id=post_link>
        <p> Here is your short URL;</p>
        <%= link_to @posts.last.short_url, post_path(@posts.last.id), id: "new_link", remote: true %>
      </div>
  </div>
</div>




